@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte-destaque: 'Passion One', cursive;
    --fonte-cordel:  'Patrick Hand', cursive;
    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-normal);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header:hover {
    background-image: linear-gradient(to left,#14F814,#57D911,#B1F020 );
    color: rgb(0, 0, 0);
    transition-duration: 1s;
}
header > h1{
    padding-top: 50px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}
a:hover{
    text-decoration: underline;
}
header > p{
    padding-bottom: 50px;
}
section{
    padding-left: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    font-family: var(--fonte-cordel);
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(70, 61, 61, 0.192);
    color:white;
    box-shadow: inset 2px 3px 9px 1px rgba(0, 0, 0, 0.301);
}
section > p{
    padding-bottom: 2em;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.274);
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}
section.imagem#img001{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}
section.imagem#img002{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}